.carousel {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--highlight) var(--background);
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  width: 11px;
}

.carousel::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.carousel::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border: 3px solid var(--background);
  border-width: 3px 0;
}

.item {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: center;
  margin: 0 0.5rem;
}

.item:first-child {
  margin: 0 0.5rem 0 0;
}

.item:last-child {
  margin: 0 0 0 0.5rem;
}

.instructions {
  font-size: 14px;
  display: block;
  width: 100%;
  font-style: italic;
  text-align: center;
}

@media (--break-lg) {
  .carousel {
    flex-direction: column;
  }

  .item,
  .item:first-child,
  .item:last-child {
    margin: 0 0 2rem;
  }

  .instructions {
    display: none;
  }
}
