.footer {
  position: relative;
  background: var(--background-dark);
  text-align: center;
  padding: 3rem 0;
  z-index: 4;
}

.logo {
  margin: 2rem 0 0 0;
}

.logo,
.logo svg {
  height: 30px;
}

.logo svg g * {
  fill: var(--highlight);
}

.footer p {
  font-size: 1rem;
}

.footer a {
  color: var(--accent);
}
