.Header {
  composes: gridContainer from './Grid.module.css';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  z-index: 3;
}

.masthead {
  display: flex;
  align-items: center;
  grid-column: span 24;
  font-weight: 600;
  color: var(--accent);
}

.masthead > div {
  margin: 0 0 0 1rem;
}
