.Header {
  left: 0;
  top: 0;
  right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 3;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
}

.headerContent {
  composes: container from '../styles/grid.module.css';
  display: flex;
}

.masthead {
  display: flex;
  place-items: center;
  font-weight: 600;
  font-family: var(--font-teko);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--headline);
}

.logo {
}

.logo svg {
  height: 20px;
}

.logo svg g * {
  fill: var(--headline);
  transition: all 0.2s ease-in-out;
}

.logo:hover svg g * {
  fill: var(--highlight);
}

.nav {
  font-family: var(--font-teko);
  font-size: 1.5rem;
  margin: 0 0 0 auto;
}

.nav a {
  margin: 0 0.3rem;
  padding: 0.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--headline);
}

.nav a:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.lightTheme {
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
}

.lightTheme .masthead a,
.lightTheme .nav a {
  color: #ffffff;
}

.lightTheme .masthead a:hover,
.lightTheme .nav a:hover {
  color: var(--highlight);
}
