.HomeHero {
  position: relative;
  background: #000000;
  padding: 2rem 2rem 3rem;
}

.heroContent h1 {
  position: relative;
  text-align: center;
  color: var(--headline);
  max-width: 750px;
  line-height: 1;
  margin: 0;
}

.heroContent {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}

.heroContent span {
  color: var(--accent);
  font-size: clamp(1rem, 1.2rem, 1.5rem);
  max-width: var(--reading-width);
}

.socials {
  display: flex;
  place-items: center;
  margin: 3rem 0 0 0;
}

.socials a {
  margin: 0 1rem;
}

.socials a svg {
  transition: all 0.2s ease-in-out;
}

.socials a:hover svg {
  fill: var(--highlight);
}

.threeScene {
  background: #000000;
  height: 450px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .threeScene {
    height: 650px;
  }
}
