.HomeHero {
  position: relative;
  background-image: radial-gradient(
    ellipse at 50% 30%,
    black 0%,
    var(--background) 60%
  );
  padding: 2rem 2rem 8rem;
}

.heroContent h1 {
  position: relative;
  text-align: center;
  color: var(--highlight);
  max-width: 750px;
  line-height: 1;
  background: none;
  margin: 0;
}

.heroContent {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  margin: 3rem 0 0 0;
}

.heroContent span {
  color: white;
  font-size: clamp(1rem, 1.2rem, 1.5rem);
  max-width: var(--reading-width);
  font-weight: normal;
}

.socials {
  display: flex;
  place-items: center;
  margin: 3rem auto 0;
}

.socials a {
  margin: 0 1rem;
}

.socials a svg {
  transition: all 0.2s ease-in-out;
}

.socials a:hover svg {
  fill: var(--highlight);
}

.threeScene {
  background: transparent;
  height: 450px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .threeScene {
    height: 650px;
  }
}
