.sectionBump {
  position: relative;
  width: 100%;
  text-align: center;
  transition: border 0.2s ease-in-out;
  margin: 3rem 0 0 0;
}

.sectionBump:hover {
  bacground: rgba(255, 255, 255, 0.1);
}

.sectionBump a {
  display: block;
  padding: 1rem 2rem;
  font-family: 'teko';
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  background: black;
}

.sectionBump a:hover {
  background-size: 100% 100%;
}

.sectionBump a span {
  position: relative;
  top: -2px;
  font-size: 0.9rem;
  margin: 0 0 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .sectionBump a {
    max-width: 70%;
    margin: 0 auto;
  }
}
