.section {
  position: relative;
  padding: 0 0 8rem;
  /* background-color: var(--background); */
  clear: both;
}

.section h2 {
  margin: 0 0 3rem;
}

.sectionLight {
  /* background-color: var(--background-light); */
}

.sectionDark {
  /* background-color: var(--background-dark); */
}

.sectionContent {
  composes: container from '../styles/grid.module.css';
  max-width: var(--reading-width);
}

.sectionWide .sectionContent {
  max-width: var(--max-content-width);
}
