.workCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--background-light);
  color: var(--paragraph);
}

.workCard:hover,
.workCard[href]:hover {
  color: var(--paragraph);
}

.workCardImage {
}

.workCardImage img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.workCardDescription {
  padding: 1rem;
}

.workCard h3 {
  display: block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .workCard {
    flex-direction: row;
  }

  .workCardImage {
  }

  .workCardDescription {
    padding: 2rem;
  }
}
