.workCard {
  position: relative;
  display: flex;
  background: var(--background-light);
  padding: 0.25rem;
  color: var(--paragraph);
}

.workCard:hover,
.workCard[href]:hover {
  color: var(--paragraph);
}

.workCardImage {
  flex-shrink: 1;
  width: 50%;
}

.workCardImage img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.workCardDescription {
  width: 50%;
  flex-shrink: 1;
  padding: 1rem;
}

.workCard h3 {
  display: block;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .workCardDescription {
    padding: 2rem;
  }
}
