.container {
  min-width: var(--min-content-width);
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.one,
.two,
.three,
.six {
  grid-column: span 6;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }
  .span-full {
    grid-column: span 24;
  }

  .grid {
    grid-template-columns: repeat(24, 1fr);
  }

  .one {
    grid-column: span 24;
  }

  .two {
    grid-column: span 12;
  }

  .three {
    grid-column: span 8;
  }

  .six {
    grid-column: span 4;
  }
}
