:root {
  --background: #16161a;
  --background-light: #242629;
  --background-dark: #010101;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --font-teko: 'Teko', serif;
  --font-open: 'Open Sans', sans-serif;
  --reading-width: 60rem;
  --max-content-width: 1480px;
  --min-content-width: 320px;
}

@custom-media --break-sm screen and (min-width: 420px);
@custom-media --break-md screen and (min-width: 768px);
@custom-media --break-lg screen and (min-width: 1024px);
@custom-media --break-xl screen and (min-width: 1280px);

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  background: var(--highlight);
  color: white;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: var(--font-open);
  font-size: clamp(1rem, 1rem, 2rem);
  color: var(--paragraph);
  background: var(--background);
}

h1,
h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

h1,
h2,
h3 {
  color: var(--headline);
  font-family: var(--font-teko);
  line-height: clamp(1, 1.2, 1.5);
  margin: 0 0 1rem 0;
  font-weight: normal;
}

p {
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  line-height: 1.36;
}

a,
a[href] {
  color: var(--secondary);
  text-decoration: none;
  transition: color 200ms ease-out;
}

a:hover {
  color: var(--highlight);
}

p a[href],
h1 a[href],
h2 a[href] {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  transition: all 0.1s ease-out;
  text-decoration-color: var(--highlight);
}

img {
  display: block;
  width: 100%;
}

canvas {
  display: block;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 50ms;
}

.aspectContainer {
  height: 0;
  overflow: hidden;
  padding-top: calc(9 / 16 * 100%); /* 16:9 */
  position: relative;
}

.aspectContainer__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transform-origin: center center;
  transition: all 0.2s ease-in-out;
}

.aspectContainer__inner:hover {
  transform: scale(1.05, 1.05);
}

.aspectContainer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 100ms ease;
  z-index: 2;
}

.aspectContainer:hover::before {
  opacity: 0;
}
