:root {
  --background: #393745;
  --accent: #20d279;
  --accent2: #ffffff;
  --break-sm: 420px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;
  --font-headline: 'Source Sans Pro', serif;
  --font-body: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--accent2);
  height: 100vh;
  background: var(--background);
}

h1,
h2,
h3 {
  color: var(--accent);
  font-family: var(--font-headline);
  margin: 1rem 0;
  line-height: 1;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  color: var(--accent2);
}

p {
  line-height: 1.36;
}

a,
a[href] {
  color: var(--accent);
  text-decoration: none;
  transition: color 200ms ease-out;
}

a:hover {
  color: var(--accent);
}

p a[href],
h1 a[href],
h2 a[href] {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  transition: all 0.1s ease-out;
  text-decoration-color: rgba(0, 255, 0, 0.5);
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 50ms;
}
