:root {
  --background: #16161a;
  --highlight: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --paragraph: #94a1b2;
  --headline: #fffffe;
  --break-sm: 420px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;
  --font-teko: 'Teko', serif;
  --font-open: 'Open Sans', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: var(--font-open);
  font-size: clamp(1rem, 1rem, 2rem);
  color: var(--paragraph);
  height: 100vh;
  background: var(--background);
}

h1,
h2,
h3 {
  color: var(--headline);
  font-family: var(--font-teko);
  margin: 1rem 0;
  line-height: 1;
  font-weight: normal;
}

p {
  line-height: 1.36;
}

a,
a[href] {
  color: var(--secondary);
  text-decoration: none;
  transition: color 200ms ease-out;
}

a:hover {
  color: var(--highlight);
}

p a[href],
h1 a[href],
h2 a[href] {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  transition: all 0.1s ease-out;
  text-decoration-color: var(--highlight);
}

canvas {
  display: block;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 50ms;
}
