.WorkPost {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6rem;
}

.sidebar {
  width: 100%;
  margin: 0 auto;
}

.postContent {
  max-width: var(--reading-width);
  width: 100%;
  margin: 0 auto;
}

.markdown h2:first-of-type {
  margin-top: 0;
}

.markdown h2,
.markdown h3 {
  margin: 1rem 0;
}

.markdown p + h2,
.markdown ul + h2 {
  margin: 2rem 0 1rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  margin: 2rem 0;
}
.imageGrid a {
  display: block;
  cursor: pointer;
}

.imageGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100px;
}

.sidebarSection {
  margin: 0 0 2rem;
}

@media screen and (min-width: 768px) {
  .WorkPost {
    grid-template-columns: 0.6fr 0.4fr;
  }

  .postContent {
    order: 1;
  }

  .sidebar {
    order: 2;
  }
}
