.WorkPost {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

.sidebar {
  width: 100%;
  margin: 0 auto;
}

.tagList {
  margin: 1rem 0 2rem;
}

.tag {
  display: inline-block;
  background: #000000;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  color: var(--highlight);
}

.postContent {
  max-width: var(--reading-width);
  width: 100%;
  margin: 0 auto;
}

.markdown h2:first-of-type {
  margin-top: 0;
}

.markdown h2,
.markdown h3 {
  margin: 1rem 0;
}

@media (--break-lg) {
  .WorkPost {
    grid-template-columns: 0.6fr 0.4fr;
  }

  .postContent {
    order: 1;
  }

  .sidebar {
    order: 2;
  }
}
